* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  nav {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 3rem 10rem;
    justify-content: space-between;
  }

  .girl{
    height: 10vh;
    width: 10vh;
  }
  
  .container {
    height: 100vh;
  }
  .container img{

    width: 100%;
    position: absolute;
    height: 110vh;
    object-fit: cover;
    z-index: -1;
  }
  .text-center {
    color:white;
    text-align: center !important;
    background-image: url("./imgg.jpeg");
  }

  .page-section {
    padding: 6rem 0;
    background-color: #0d6efd;
    height: 200px;
  }
  .main-title {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 6rem;
    transform: translate(-50%, -30%);
  }

  .container2{
    background-color: black;;
  }
  .h4{
    color: black;
  }
  .nav-link{
    padding:20px;
    font-size: larger;
    align-items: flex-start;
  }
  section-heading text{ font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .main{
    margin-left: 900px;
    display: flex;
  flex-wrap: inherit;
  align-items: flex-start;
  justify-content: space-evenly;
  }
  
  .content {
    width: 100%;
    background:#fff;
    min-height : 100vh;
    z-index: 2;
    position: absolute;
  }
  .content-images {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    text-align: center;
  }
  
  .text {
    color: #0d6efd;
    padding: 2rem 20rem;
    font-size: 1.1rem;
  }

  .text-center2{
    
      width: 100%;
      background: rgb(24, 24, 24);
      min-height: 100vh;
      z-index: 2;
      position: absolute;
    
  }
  
